SERIAL=gnuhealth
CONTAINER_VOLUME=/srv/container-volumes
PORTBASE=80

POSTGRES_PASSWORD=SecretKey
POSTGRES_DB=gnuhealth
POSTGRES_USER=postgres

GNUHEALTH_DATABASE=gnuhealth
GNUHEALTH_POSTGRES_USER=gnuhealth
GNUHEALTH_POSTGRES_PASSWORD=SecretKey
GNUHEALTH_ADMIN_EMAIL=support@domain.tld